<template>
    <div class="cash" align="center">
        <BarCodeScan
            v-if="
                showModalManual === false &&
                    showModalAlert === false &&
                    !listFixed
            "
            v-on:scan="onScan"
            v-on:beforeScan="onBeforeScan"
        ></BarCodeScan>
        <modal-codebar
            v-show="showModalManual === true"
            v-on:close="closeModalManual"
            v-on:cancel="cancelModal"
        >
        </modal-codebar>
        <modal-pay
            v-if="showModalPay === true"
            v-on:pay="validPay"
            v-on:cancelPay="cancelModalPay"
        >
            <h1 slot="body">{{ amount }} €</h1>
        </modal-pay>
        <modal-alert v-if="showModalAlert === true" v-on:ok="okAlert()">
            <h2 class="alert" slot="body">{{ msgAlert }}</h2>
        </modal-alert>
        <p v-if="Object.keys(listProducts).length === 0">
            Pour commencer, vous pouvez scanner un produit<br /><br />
            Vous pouvez tapez la touche 'Entrer' si un code barre ne passe pas
        </p>
        <div>
            <div class="liste">
                <ul
                    v-for="(product, key) in listProducts"
                    v-bind:key="key"
                    class="ligneListe"
                >
                    <li class="codeProduit">{{ key }}</li>
                    <li class="designation">{{ product.descProduct }}</li>
                    <li class="prix">{{ product.prixProduct }} €</li>
                    <li class="cancelProduct" v-if="!listFixed">
                        <button
                            class="deleteProduct"
                            id="cash"
                            @click="handleClicksupprProduct(key)"
                        >
                            suppr
                        </button>
                    </li>
                </ul>
            </div>
            <h2>___________________________________________________</h2>
            <div>
                <div>
                    <ul>
                        <li>
                            <h3>Nombre d'articles :</h3>
                        </li>
                        <li>
                            <h3>{{ nbProduct }}</h3>
                        </li>
                        <li>&lt;========&gt;</li>
                        <li>
                            <h2>Montant total :</h2>
                        </li>
                        <li>
                            <h2>{{ amount }} €</h2>
                        </li>
                    </ul>
                </div>
                <br />
                <br />
                <div v-if="!listFixed">
                    <ul>
                        <li>
                            <button @click="pay()" v-if="startList">
                                Payer
                            </button>
                            <button
                                class="retour"
                                @click="cancelList()"
                                v-if="startList"
                            >
                                Annuler vente
                            </button>
                            <button class="retour" @click="$emit('close')">
                                Sortie Caisse
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BarCodeScan from "../../components/BarCodeScan";
import ModalCodebar from "../../components/ModalCodebar.vue";
import ModalPay from "./components/ModalPay";
import ModalAlert from "./components/ModalAlert";

export default {
    name: "Cash",
    components: {
        BarCodeScan,
        ModalCodebar,
        ModalPay,
        ModalAlert
    },
    data() {
        return {
            showModalManual: false,
            showModalPay: false,
            showModalAlert: false,
            startList: false,
            listFixed: false,
            listProducts: {},
            amount: 0,
            nbProduct: 0,
            msgAlert: null
        };
    },
    methods: {
        okAlert() {
            this.showModalAlert = false;
        },
        onBeforeScan() {},
        onScan(code) {
            if (code && code.codeProduct && code.codeList) {
                this.addProduct(code);
            } else {
                this.showModalManual = true;
            }
        },
        addProduct(code) {
            // On recherche le produit en base
            fetch(
                "http://" +
                    location.hostname +
                    ":8081/api/bourse/" +
                    code.codeList +
                    "/product/" +
                    code.codeProduct,
                {
                    method: "GET",
                    headers: {
                        Accept: "application/json"
                    }
                }
            )
                .then(result => result.json())
                .then(data => {
                    //eslint-disable-next-line
                    console.log(JSON.stringify(data, null, 2));

                    if (
                        !data.id ||
                        !data.products[code.codeProduct] ||
                        data.products[code.codeProduct].sold
                    ) {
                        // TODO faire une modale d'erreur
                        //eslint-disable-next-line
                        console.log(JSON.stringify(data, null, 2));
                        let base =
                            "Article " + code.codeList + "-" + code.codeProduct;
                        this.msgAlert =
                            data.products &&
                            data.products[code.codeProduct] &&
                            data.products[code.codeProduct].sold
                                ? base + " déjà vendu"
                                : base + " inconnu";
                        this.showModalAlert = true;
                    } else {
                        this.startList = true;
                        this.$set(
                            this.listProducts,
                            code.codeList + "-" + code.codeProduct,
                            data.products[code.codeProduct]
                        );

                        // On met à jour le nombre d'article
                        this.$nextTick(() => {
                            this.majAmount();
                        });
                    }
                });

            // On gère l'erreur et on affiche le produit dans la liste
        },
        pay() {
            this.listFixed = true;
            this.showModalPay = true;
        },
        cancelList() {
            this.listProducts = {};
            this.startList = false;
            this.listFixed = false;
            this.majAmount();
        },
        validPay() {
            // faire l'appel en post
            fetch("http://" + location.hostname + ":8081/api/bourse/cash/pay", {
                method: "POST",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(this.listProducts)
            })
                .then(result => result.json())
                .then(data => {
                    //eslint-disable-next-line
                    console.log(JSON.stringify(data, null, 2));

                    this.$nextTick(() => {
                        this.listProducts = {};
                        this.startList = false;
                        this.listFixed = false;
                        this.majAmount();
                        this.showModalPay = false;
                    });
                });

            // C'est là qu'on fait l'enregistrement et quon remet tout à 0
        },
        cancelModalPay() {
            this.showModalPay = false;
            this.listFixed = false;
        },
        handleClicksupprProduct(code) {
            this.$delete(this.listProducts, code);
            this.$nextTick(() => {
                this.majAmount();
            });
        },
        closeModalManual(code) {
            this.showModalManual = false;
            this.addProduct(code);
        },
        cancelModal() {
            // TODO => si la liste est vide et pas enregistrée, on vire le bouton enregistrer
            this.showModalManual = false;
        },
        majAmount() {
            let nb = 0;
            let amount = 0;
            Object.keys(this.listProducts).forEach(key => {
                nb++;
                //eslint-disable-next-line
                console.log(JSON.stringify(this.listProducts[key], null, 2));

                amount += this.listProducts[key].prixProduct;
            });
            this.nbProduct = nb;
            this.amount = amount;
        }
    },
    created: function() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
    margin: 40px 0 0;
}

button {
    width: 250px;
    border: none;
    background: #7185ec;
    color: #fff;
    font-size: 12pt;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
    margin: 0 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 20px;
}
li {
    display: inline-block;
    margin: 0 10px;
}

.ligneListe {
    width: 100%;
}

.codeProduit {
    width: 50px;
    align: center;
}

.designation {
    width: 500px;
    align: center;
}

.prix {
    width: 50px;
    align: left;
}

.cancelProduct {
    width: 50px;
}

.deleteProduct {
    float: inline-start;
    height: 25px;
    width: 50px;
    background: #e40d0d;
    position: relative;
    font-size: 9pt;
    align-content: center;
}

.liste {
    width: 100%;
    align-content: center;
}

.retour {
    float: center;
    background: #c06113;
    position: relative;
    font-size: 12pt;
    /* margin: 0 150px; */
}

.retour:hover {
    background-color: #f58506;
}
</style>
