<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <!-- <div class="modal-container" v-on:keydown="pressKey"> -->
                <div class="modal-container">
                    <div class="modal-header">
                        <h4>Rentrez un code produit au format xxx-xx</h4>
                    </div>
                    <div class="modal-body">
                        <input
                            autofocus
                            ref="search"
                            v-model="codeString"
                            placeholder="XXX-XX"
                        />
                    </div>
                    <div class="modal-footer">
                        <ul>
                            <li v-show="!isDatavalid">
                                <p class="alert">
                                    Le code n'est pas valide
                                </p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <button
                                    class="modal-ko-button"
                                    @click="$emit('cancel')"
                                >
                                    Annuler
                                </button>
                                <button
                                    class="modal-default-button"
                                    @click="valideCode()"
                                >
                                    OK
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "ModalCodeBarre",
    data() {
        return {
            codeString: null,
            isDatavalid: true
        };
    },
    methods: {
        valideCode() {
            if (
                this.codeString &&
                this.codeString.match(/^[0-9]{3}-[0-9]{2}$/) &&
                Number(this.codeString.split("-")[1]) <= 30
            ) {
                this.isDatavalid = true;
                let values = this.codeString.split("-");
                let code = {
                    codeProduct: Number(values[1]),
                    codeList: values[0]
                };
                this.$emit("close", code);
                this.codeString = null;
            } else {
                this.isDatavalid = false;
            }
        }
    },
    mounted: function() {
        this.$nextTick(() => this.$refs.search.focus());
    },
    created: function() {
        this.$nextTick(() => this.$refs.search.focus());
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
    list-style-type: none;
    padding: 0;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 400px;
    height: auto;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12pt;
    margin: 5px;
}

.modal-default-button:disabled {
    background-color: #9c9c9ce0;
}

.modal-ko-button {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12pt;
    margin: 5px;
    background: #c06113;
}

.modal-ko-button:hover {
    background-color: #f58506;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.alert {
    font-style: italic;
    color: crimson;
}
</style>
