<template>
    <div class="register">
        <BarCodeScan
            v-if="
                showModalProduct === false &&
                    showModalManual === false &&
                    showModalList === false &&
                    listFixed === false
            "
            v-on:scan="onScan"
            v-on:beforeScan="onBeforeScan"
        ></BarCodeScan>
        <modal-codebar
            v-show="showModalManual === true"
            v-on:close="closeModalManual"
            v-on:cancel="cancelModal"
        >
        </modal-codebar>
        <modal-product
            ref="modalProduct"
            v-show="showModalProduct === true"
            v-on:close="closeModalProduct"
            v-on:cancel="cancelModal"
        >
        </modal-product>
        <modal-list
            ref="modalList"
            v-show="showModalList === true"
            v-on:close2="closeModalList"
            v-on:cancel="cancelModal"
        >
        </modal-list>
        <div align="center">
            <div>
                <header-list ref="header" v-if="listFixed"> </header-list>
            </div>
            <div>
                <product-list ref="liste"> </product-list>
            </div>
        </div>
        <div v-if="!listFixed">
            <ul>
                <li>
                    <button @click="registerList()" v-if="idList">
                        valider la liste
                    </button>
                    <button class="retour" @click="$emit('close')">
                        annuler
                    </button>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import BarCodeScan from "../../components/BarCodeScan";
import ModalProduct from "./components/ModalProduct.vue";
import ModalList from "./components/ModalList.vue";
import ModalCodebar from "../../components/ModalCodebar.vue";
import ProductList from "./components/ProductList.vue";
import HeaderList from "./components/HeaderList.vue";

export default {
    name: "Register",
    components: {
        BarCodeScan,
        ModalProduct,
        ModalList,
        ModalCodebar,
        ProductList,
        HeaderList
    },
    data() {
        return {
            showModalProduct: false,
            showModalList: false,
            showModalManual: false,
            idList: null,
            tmpIdList: null,
            listFixed: false
        };
    },
    methods: {
        onBeforeScan() {},
        onScan(code) {
            if (code && code.codeProduct && code.codeList) {
                this.putModalProduct(code);
            } else {
                this.showModalManual = true;
            }
        },
        closeModalProduct(product) {
            // Chargement de la liste dans le composant listeProducts
            if (!this.idList) {
                this.idList = this.tmpIdList;
            }

            this.$refs.liste.id = this.idList;

            this.$set(
                this.$refs.liste.products,
                product.idProduct,
                product.value
            );

            // Faire un update en base
            let maliste = {
                id: this.idList,
                products: this.$refs.liste.products
            };

            fetch(
                "http://" +
                    location.hostname +
                    ":8081/api/bourse/" +
                    this.idList,
                {
                    method: "POST",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(maliste)
                }
            )
                .then(result => result.json())
                .then(data => {
                    //eslint-disable-next-line
                    console.log(JSON.stringify(data, null, 2));
                });

            // eslint-disable-next-line
            // console.log(this.$refs.liste.products);

            this.showModalProduct = false;
        },
        closeModalManual(code) {
            this.showModalManual = false;
            this.putModalProduct(code);
        },
        cancelModal() {
            // TODO => si la liste est vide et pas enregistrée, on vire le bouton enregistrer

            this.showModalProduct = false;
            this.showModalManual = false;
            this.showModalList = false;
        },
        putModalProduct(code) {
            // On commence par récupérer la liste si elle existe

            fetch(
                "http://" +
                    location.hostname +
                    ":8081/api/bourse/" +
                    code.codeList,
                {
                    method: "GET",
                    headers: {
                        Accept: "application/json"
                    }
                }
            )
                .then(result => result.json())
                .then(data => {
                    // Ici on regarde si la list existe
                    if (!data.id) {
                        // La liste nexiste pas

                        //eslint-disable-next-line
                        console.log(JSON.stringify(data, null, 2));
                        this.$refs.modalProduct.product.idProduct =
                            code.codeProduct;
                        this.$refs.modalProduct.product.idList = code.codeList;

                        if (this.idList && this.idList !== code.codeList) {
                            this.$refs.modalProduct.errorList.e01.isvalid = false;
                        } else {
                            this.tmpIdList = code.codeList;
                        }

                        if (this.$refs.liste.products[code.codeProduct]) {
                            this.$refs.modalProduct.product.value = this.$refs.liste.products[
                                code.codeProduct
                            ];
                        }
                        this.showModalProduct = true;
                    } else {
                        this.idList = code.codeList;
                        this.$refs.liste.products = data.products;
                        this.$refs.liste.id = code.codeList;

                        // la liste existe
                        if (data.header) {
                            // la liste est validée
                            let nbProducts = Object.keys(data.products).length;
                            let nbSolds = 0;
                            let sumAmount = 0;
                            let sumSold = 0;
                            Object.keys(data.products).forEach(key => {
                                let p = data.products[key];
                                sumAmount +=
                                    Math.round(p.prixProduct * 100) / 100;
                                if (p.sold) {
                                    sumSold +=
                                        Math.round(p.prixProduct * 100) / 100;
                                    nbSolds++;
                                    // amount += Math.round(
                                    //     Math.floor(
                                    //         (p.prixProduct * 100 * 3) / 4
                                    //     ) / 100
                                    // );
                                }
                            });
                            let amount =
                                Math.round(Math.floor(sumSold * 75)) / 100;

                            amount = data.header.paid ? amount : amount - 2;

                            this.fixeList();
                            this.$refs.liste.listFixed = this.listFixed;
                            this.$refs.liste.amount = sumAmount;
                            this.$refs.liste.amountSold = sumSold;
                            this.$nextTick(() => {
                                this.$refs.header.list = data.header;
                                this.$refs.header.id = code.codeList;
                                this.$refs.header.nbProducts = nbProducts;
                                this.$refs.header.nbSolds = nbSolds;
                                this.$refs.header.amount = amount;
                            });
                        } else {
                            //eslint-disable-next-line
                            console.log(JSON.stringify(data, null, 2));
                            // la liste n'est pas validée
                            this.$refs.modalProduct.product.idProduct =
                                code.codeProduct;
                            this.$refs.modalProduct.product.idList =
                                code.codeList;

                            if (this.idList && this.idList !== code.codeList) {
                                this.$refs.modalProduct.errorList.e01.isvalid = false;
                            } else {
                                this.tmpIdList = code.codeList;
                            }

                            if (this.$refs.liste.products[code.codeProduct]) {
                                this.$refs.modalProduct.product.value = this.$refs.liste.products[
                                    code.codeProduct
                                ];
                            }
                            this.showModalProduct = true;
                        }
                    }
                });
        },
        registerList() {
            this.$refs.modalList.idList = this.idList;
            this.showModalProduct = false;
            this.showModalManual = false;
            this.showModalList = true;
            this.$nextTick(
                () =>
                    (this.$refs.modalList.nbProducts = Object.keys(
                        this.$refs.liste.products
                    ).length)
            );
        },
        closeModalList(list) {
            this.showModalProduct = false;
            this.showModalManual = false;
            this.showModalList = false;
            this.fixeList();
            this.$refs.liste.listFixed = this.listFixed;
            this.$nextTick(() => {
                this.$refs.header.list = list;
                this.$refs.header.id = this.idList;
                this.$refs.header.nbProducts = Object.keys(
                    this.$refs.liste.products
                ).length;
            });

            let maliste = {
                id: this.idList,
                header: list,
                products: this.$refs.liste.products
            };

            fetch(
                "http://" +
                    location.hostname +
                    ":8081/api/bourse/" +
                    this.idList,
                {
                    method: "POST",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(maliste)
                }
            )
                .then(result => result.json())
                .then(data => {
                    //eslint-disable-next-line
                    console.log(JSON.stringify(data, null, 2));
                });
        },
        fixeList() {
            this.listFixed = true;
            window.addEventListener("keydown", e => {
                if (e.key.toLowerCase() === "escape") {
                    this.$emit("close");
                }
            });
        }
    },
    created: function() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
    margin: 40px 0 0;
}

button {
    width: 250px;
    border: none;
    background: #7185ec;
    color: #fff;
    font-size: 12pt;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
    margin: 0 20px;
}

a {
    color: #42b983;
}

.retour {
    float: center;
    background: #c06113;
    position: relative;
    font-size: 12pt;
    /* margin: 0 150px; */
}

.retour:hover {
    background-color: #f58506;
}
</style>
