<template>
    <div class="HeaderList">
        <h3 v-if="id">Bourse Aux Jouet Pissotte - 2019 - Liste numéro {{ id }}</h3>
        <div class="liste">
            <ul>
                <li>{{ list.name }} {{ list.firstname }}</li>
                <li>@: {{ list.email }}</li>
                <li>T: {{ list.phonenumber }}</li>
                <li>Insc. payée: <b>{{ list.paid ? "oui" : "non" }}</b></li>
            </ul>
            <ul>
                <li>Articles déposés: <b>{{ nbProducts }}</b></li>
                <li>Articles vendus: <b>{{ nbSolds === 0 ? "____" : nbSolds }}</b></li>
                <li>
                    Montant à reverser: <b>{{ amount === 0 ? "____" : amount }} €</b>
                </li>
            </ul>
            <ul>
                <li>Signature Dépôt : <input disabled:true /></li>
                <li>Signature Reprise : <input disabled:true /></li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "HeaderList",
    data() {
        return {
            id: null,
            list: {
                name: null,
                firstname: null,
                email: null,
                phonenumber: null,
                paid: false
            },
            nbProducts: 0,
            nbSolds: 0,
            amount: 0
        };
    },
    methods: {}
};
</script>

<style scoped>
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 20px;
}
li {
    display: inline-block;
    margin: 0 10px;
    display: inline-block;
}

.ligneListe {
    width: 100%;
}

/* h3 {
    height: 20px;
} */

.codeProduit {
    width: 25px;
    align: center;
}

.designation {
    width: 400px;
    align: center;
}

.prix {
    width: 75px;
    align: left;
}

.cancelProduct {
    width: 50px;
}

.deleteProduct {
    float: inline-start;
    height: 26px;
    background: #e40d0d;
    position: relative;
    font-size: 10pt;
    align-content: center;
}

.liste {
    border: outset;
    width: 197mm;
}
</style>
