<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <!-- <div class="modal-container" v-on:keydown="pressKey"> -->
                <div class="modal-container">
                    <div class="modal-header">
                        <h4>Liste {{ idList }}</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <ul>
                                <li class="libelle">Nom</li>
                                <li class="desc-libelle">
                                    <input
                                        id="name"
                                        ref="name"
                                        v-model.trim="list.name"
                                        placeholder="Nom"
                                    />
                                </li>
                            </ul>
                            <ul>
                                <li class="libelle">Prénom</li>
                                <li class="desc-libelle">
                                    <input
                                        v-model.trim="list.firstname"
                                        placeholder="Prénom"
                                    />
                                </li>
                            </ul>
                            <ul>
                                <li class="libelle">email</li>
                                <li class="desc-libelle">
                                    <input
                                        type="email"
                                        v-model.trim="list.email"
                                        placeholder="@e-mail"
                                    />
                                </li>
                            </ul>
                            <ul>
                                <li class="libelle">téléphone</li>
                                <li class="desc-libelle">
                                    <input
                                        v-model.trim="list.phonenumber"
                                        placeholder="xxxxxxxxxx"
                                    />
                                </li>
                            </ul>
                            <ul>
                                <li class="libelle2">réglement inscription</li>
                                <li class="libelle2">
                                    <input
                                        type="checkbox"
                                        v-model="list.paid"
                                    />
                                </li>
                            </ul>
                            <ul>
                                <li class="libelle2">
                                    Nombre de produits déposés
                                </li>
                                <li class="libelle2">
                                    <input
                                        v-model="nbProducts"
                                        disabled="true"
                                    />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <ul v-for="error in errorList" v-bind:key="error">
                            <li>
                                <p class="alert">{{ error }}</p>
                            </li>
                        </ul>
                        <ul>
                            <li align="right">
                                <button
                                    class="modal-ko-button"
                                    @click="cancel()"
                                >
                                    Retour à la liste
                                </button>
                                <button
                                    class="modal-default-button"
                                    @click="valideList()"
                                >
                                    Valider
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "ModalList",
    data() {
        return {
            idList: null,
            list: {
                name: null,
                firstname: null,
                email: null,
                phonenumber: null,
                paid: false
            },
            errorList: [],
            buttonDisabled: false,
            nbProducts: 0
        };
    },
    methods: {
        valideList() {
            this.buttonDisabled = false;
            this.errorList = [];

            if (
                !this.list ||
                !this.list.name ||
                !this.list.name.match(/^.{3,80}$/)
            ) {
                this.errorList.push("Le nom n'est pas valide");
            }

            if (
                !this.list ||
                !this.list.firstname ||
                !this.list.firstname.match(/^.{3,80}$/)
            ) {
                this.errorList.push("Le prénom n'est pas valide");
            }

            if (
                !this.list ||
                !this.list.phonenumber ||
                !this.list.phonenumber.match(/^0([1-7]|9)[0-9]{8}$/)
            ) {
                this.errorList.push("Le numéro de téléhone n'est pas valide");
            }

            if (
                !this.list ||
                !this.list.email ||
                !this.list.email.match(
                    /^[a-zA-Z0-9.-_]+@[a-zA-Z0-9]+\.[a-zA-Z]+$/
                )
            ) {
                this.errorList.push("L'email n'est pas valide");
            }

            this.buttonDisabled = this.errorList.length;

            if (!this.buttonDisabled) {
                this.$emit("close2", this.list);
                this.list = {};
                this.errorList = [];
            }
        },
        cancel() {
            this.list = {};
            this.errorList = [];
            this.$emit("cancel");
        }
    },
    mounted: function() {
        this.$refs.name.focus();
    },
    created: function() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

input {
    width: 80%;
    margin: 0 10px;
}

button:disabled {
    background: #7c7c7e;
}

.libelle {
    width: 10%;
    display: inline-block;
    margin: 0 10px;
}

.libelle2 {
    width: 45%;
    display: inline-block;
    margin: 0 10px;
    align-items: left;
}

.desc-libelle {
    width: 80%;
    display: inline-block;
    margin: 0 10px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 600px;
    height: auto;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12pt;
    margin: 5px;
}

.modal-ko-button {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12pt;
    margin: 5px;
    background: #c06113;
}

.modal-ko-button:hover {
    background-color: #f58506;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.alert {
    font-style: italic;
    color: crimson;
}
</style>
