<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <!-- <div class="modal-container" v-on:keydown="pressKey"> -->
                <div class="modal-container">
                    <div class="modal-header">
                        <h4>
                            Liste {{ product.idList }}, Produit
                            {{ product.idProduct }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <ul>
                                <li class="libelle">Description</li>
                                <li class="desc-libelle">
                                    <input
                                        autofocus
                                        id="desc"
                                        ref="desc"
                                        v-model.trim="product.value.descProduct"
                                        placeholder="Description du produit"
                                    />
                                </li>
                            </ul>
                            <ul>
                                <li class="libelle">Prix</li>
                                <li class="desc-libelle">
                                    <input
                                        v-model.number="
                                            product.value.prixProduct
                                        "
                                        placeholder="Prix"
                                    />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <ul v-for="(error, key) in errorList" v-bind:key="key">
                            <li>
                                <p class="alert" v-if="!error.isvalid">
                                    {{ error.message }}
                                </p>
                            </li>
                        </ul>
                        <ul>
                            <li align="right">
                                <button
                                    class="modal-ko-button"
                                    @click="cancel()"
                                >
                                    Annuler
                                </button>
                                <button
                                    class="modal-default-button"
                                    @click="valideProduct()"
                                >
                                    OK
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "ModalProduct",
    data() {
        return {
            product: {
                idProduct: null,
                idList: null,
                value: { descProduct: null, prixProduct: null }
            },
            errorList: {
                e01: {
                    isvalid: true,
                    message:
                        "Le code barre correspond à une autre liste. Vous ne pouvez pas enregistrer ce produit"
                },
                e02: {
                    isvalid: true,
                    message:
                        "La description du produit doit être renseignée et faire entre 3 et 80 caractères"
                },
                e03: {
                    isvalid: true,
                    message: "Le prix indiqué n'est pas valide"
                }
            },
            buttonDisabled: false
        };
    },
    methods: {
        valideProduct() {
            this.buttonDisabled = false;

            if (
                !this.product.value ||
                !this.product.value.descProduct ||
                !this.product.value.descProduct.match(/^.{3,80}$/)
            ) {
                this.errorList.e02.isvalid = false;
            } else {
                this.errorList.e02.isvalid = true;
            }

            if (
                !this.product.value ||
                !this.product.value.prixProduct ||
                Number.isNaN(Number(this.product.value.prixProduct))
            ) {
                this.errorList.e03.isvalid = false;
            } else {
                this.errorList.e03.isvalid = true;
            }

            Object.keys(this.errorList).forEach(errCode => {
                this.buttonDisabled |= !this.errorList[errCode].isvalid;
            });

            if (!this.buttonDisabled) {
                this.$emit("close", this.product);
                this.product = {
                    idProduct: null,
                    value: { descProduct: null, prixProduct: null }
                };

                Object.keys(this.errorList).forEach(errCode => {
                    this.errorList[errCode].isvalid = true;
                });
            }
        },
        cancel() {
            this.product = {
                idProduct: null,
                value: { descProduct: null, prixProduct: null }
            };
            Object.keys(this.errorList).forEach(errCode => {
                this.errorList[errCode].isvalid = true;
            });
            this.$emit("cancel");
        }
    },
    mounted: function() {
        this.$nextTick(() => this.$refs.desc.focus());
    },
    created: function() {
        this.$nextTick(() => this.$refs.desc.focus());
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

input {
    width: 80%;
    margin: 0 10px;
}

button:disabled {
    background: #7c7c7e;
}

.libelle {
    width: 10%;
    display: inline-block;
    margin: 0 10px;
}

.desc-libelle {
    width: 80%;
    display: inline-block;
    margin: 0 10px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 600px;
    height: auto;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12pt;
    margin: 5px;
}

.modal-ko-button {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12pt;
    margin: 5px;
    background: #c06113;
}

.modal-ko-button:hover {
    background-color: #f58506;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.alert {
    font-style: italic;
    color: crimson;
}
</style>
