<template>
    <div class="listProduct">
        <p v-if="Object.keys(products).length === 0">
            Pour commencer, vous pouvez scanner un produit<br /><br />
            Vous pouvez tapez la touche 'Entrer' si un code barre ne passe pas
        </p>
        <h2 v-if="id && !listFixed">Liste numéro {{ id }}</h2>
        <br />
        <div class="liste">
            <ul
                v-for="(product, key) in products"
                v-bind:key="key"
                class="ligneListe"
            >
                <li class="codeProduit">{{ key }}</li>
                <li class="designation">{{ product.descProduct }}</li>
                <li class="prix">{{ product.prixProduct }} €</li>
                <li class="cancelProduct" v-if="!listFixed">
                    <button
                        class="deleteProduct"
                        id="cash"
                        @click="handleClicksupprProduct(key)"
                    >
                        suppr
                    </button>
                </li>
                <li class="cancelProduct">
                    <b v-if="listFixed && product.sold">vendu</b>
                </li>
            </ul>
            <ul align="right" v-if="listFixed">
                <li class="total">
                    <h4>
                        Montant total : <b>{{ amount }} €</b>
                    </h4>
                </li>
                <li class="total">
                    <h4>
                        Montant vendu : <b>{{ amountSold }} €</b>
                    </h4>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "listProduct",
    data() {
        return {
            id: null,
            listFixed: false,
            amount: 0,
            amountSold: 0,
            products: {}
        };
    },
    methods: {
        handleClicksupprProduct(code) {
            this.$delete(this.products, code);
        }
    }
};
</script>

<style scoped>
ul {
    list-style-type: none;
    padding: 1;
    width: 100%;
    height: 8px;
}
li {
    display: inline-block;
    margin: 0 10px;
}

.ligneListe {
    width: 100%;
}
.total {
    margin: 0 50px;
}

.codeProduit {
    width: 15px;
    align: center;
}

.designation {
    width: 500px;
    align: center;
}

.prix {
    width: 50px;
    align: left;
}

.cancelProduct {
    width: 50px;
}

.deleteProduct {
    float: inline-start;
    height: 25px;
    background: #e40d0d;
    position: relative;
    font-size: 9pt;
    align-content: center;
}

.liste {
    width: 197mm;
}
</style>
