<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <!-- <div class="modal-container" v-on:keydown="pressKey"> -->
                <div class="modal-container">
                    <div class="modal-header">
                        <h3>Montant à régler</h3>
                    </div>
                    <div class="modal-body">
                        <slot name="body">
                            default body
                        </slot>
                    </div>
                    <div class="modal-footer">
                        <ul>
                            <li>
                                <button
                                    class="modal-ko-button"
                                    @click="$emit('cancelPay')"
                                >
                                    Annuler
                                </button>
                                <button
                                    class="modal-default-button"
                                    @click="$emit('pay')"
                                >
                                    OK
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "ModalCodeBarre",
    data() {
        return {};
    },
    methods: {},
    mounted: function() {},
    created: function() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
    list-style-type: none;
    padding: 0;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 400px;
    height: auto;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12pt;
    margin: 5px;
}

.modal-ko-button {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12pt;
    margin: 5px;
    background: #c06113;
}

.modal-ko-button:hover {
    background-color: #f58506;
}

.modal-default-button:disabled {
    background-color: #9c9c9ce0;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.alert {
    font-style: italic;
    color: crimson;
}
</style>
