<template>
  <div id="app">
    <img
      alt="Vue logo"
      src="./assets/logoAPE.png"
      width="600px"
      v-if="state === 'initial'"
    />
    <br v-if="state === 'initial'" />
    <h2 v-if="state === 'initial' || state === 'cash'">{{ msg }}</h2>
    <Register v-if="state === 'register'" v-on:close="handleClose()" />
    <Cash v-if="state === 'cash'" v-on:close="handleClose()" />
    <br v-if="state === 'initial'"/>
    <br v-if="state === 'initial'"/>
    <br v-if="state === 'initial'"/>
    <div>
      <button
        class="half"
        id="register"
        @click="handleClickRegister()"
        v-if="state === 'initial'"
      >
        Enregistrer / Consulter une liste
      </button>
    </div>
    <br />
    <br />
    <br />
    <div>
      <button
        class="half"
        id="cash"
        @click="handleClickCash()"
        v-if="state === 'initial'"
      >
        Caisse
      </button>
    </div>
  </div>
</template>

<script>
import Register from "./apps/Register/Register.vue";
import Cash from "./apps/Cash/Cash.vue";

export default {
  name: "app",
  data() {
    return { state: "initial", msg: "Bourse Aux jouets APE L'Orbrie Pissotte 2019" };
  },
  components: {
    Register,
    Cash
  },
  methods: {
    handleClickRegister() {
      this.state = "register";
    },
    handleClickCash() {
      this.state = "cash";
    },
    handleClose() {
      this.state = "initial";
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
button,
.item {
  height: 50px;
  padding: 6px;
}

input {
  height: 30px;
  padding: 6px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

button {
  border: none;
  background: #7185ec;
  color: #fff;
  font-size: 20pt;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #586cd8;
}

button:active {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: none;
}

.half {
  width: 48%;
  float: center;
  position: relative;
}
</style>
